{% load static %}
<!DOCTYPE <!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>

</body>
</html>>
<html>
<head>
<title>Han Min Oo - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/HMO.png' %}" alt="Han Min Oo" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Han Min Oo</h1>
			<h2 class="quickFade delayThree">Web Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="mailto:hanmin18900@gmail.com" target="_blank">hanmin18900@gmail.com</a></li>
<!--				<li>w: <a href="http://www.bloggs.com">www.bloggs.com</a></li>-->
				<li>+959794079772</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Friendly and enthusiastic , with 5 years of teaching
					experience. Able to learn new tasks quickly and proficient . Able to
					work under pressure. Experienced with the development cycle
					dynamic web projects. Well-versed in numerous programming
					languages</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>


		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>

			<div class="sectionContent">
				<article>
					<h2>Technological University(Thanlyin)</h2>
					<span class="subDetails">Bachelor of Engineering: Information Technology Engineering- </span>
					<span class="subDetails">B.E.(ITE)</span>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Teachers’ Assistance at FOCUS education center</h2>
					<p class="subDetails">(06/2015 to 05/2020)</p>
					<p>Tutor and assist children individually or in small groups. Present subject matter to students under the direction and
					guidance of teachers.
					Evaluate and mark students' class work, assignment and papers.
					Maintain student attendance records, marking and other required
					records.
					Main subjects to assist students were English, Mathematics ,
					Physics and Biology.</p>
				</article>
				
				<article>
					<h2 class="cmx"> Business Advisor at CMX Advisor Team Myanmar</h2>
					<p class="subDetails">(07/2020 to 09/2020)</p>
					<p>Give advise to client who trade using the application
						Learn Technical and Fundamental analysis to gain knowledge
						and serve the customers
						Always predit the World Gold price and US dollar and give signal</p>
				</article>
				
				<article>
					<h2>Freelancer at VIU application</h2>
					<p class="subDetails"></p>
					<p>Share the application to the user and tell them to watch
						videos in the application
						 Add my code number in their application so that I get my
						commission</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Computer Programming</li>
					<li>Teaching</li>
					<li>Problem solving</li>
					<li>Innovative</li>
					<li>Community mobilization</li>
					<li>Time management</li>
					<li>Leadership</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		<section>
			<div class="sectionTitle">
				<h1>Technological Skills</h1>
			</div>

			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Django</li>
					<li>MongoDB</li>
					<li>Angular</li>
					<li>Linux</li>
					<li>Data Structure</li>
					<li>Artificial Intelligence</li>
					<li>Internet of Things</li>
					<li>HTML, CSS, JS</li>
					<li>C++</li>
					<li>Java</li>
					<li>Michrosoft(W, E, P)</li>
					<li>Photoshop</li>
					<li>Video editing</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		

		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>